body {
  background-color: var(--light-grey);
}

.post {
  padding-bottom: 70px;
}

.post a {
  text-decoration: none;
  color: var(--grey);
}

.post textarea {
  background-color: var(--light-grey);
}
.post .submit {
  background-color: var(--main-color);
}
.post .submit:hover {
  background-color: var(--light-blue);
}

.post-card {
  border-radius: 0;
}

.post-btn .btn {
  border-radius: 0;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.post .post-card .ql-editor > * {
  cursor: pointer;
}

.comment-content {
  background-color: var(--light-grey);
}

.post .post-card:hover {
  border: 1px solid var(--grey);
}

.create .card-header {
  background-color: var(--light-blue);
}

.create .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(231, 229, 229);
}

.post .ql-editor p img,
.modal-post .ql-editor p img {
  max-width: 100%;
}

.ql-container.ql-disabled .ql-tooltip {
  display: none;
}

@media screen and (min-width: 992px) {
  .post .row > * {
    padding-left: 0;
  }
}
