body {
  background-color: var(--light-grey);
}

.post {
  padding-bottom: 70px;
}

.post textarea {
  background-color: var(--light-grey);
}
.post .submit {
  background-color: var(--main-color);
}
.post .submit:hover {
  background-color: var(--light-blue);
}

.create .card-header {
  background-color: var(--light-blue);
}

.create .ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(231, 229, 229);
}

@media screen and (min-width: 992px) {
  .post .row > * {
    padding-left: 0;
  }
}
