.contact-details,
.authenticate-button:hover {
  background-color: var(--light-blue);
}

.main-navbar,
.authenticate-button {
  background-color: var(--main-color);
}

i {
  color: var(--light-blue);
}