.contact-details,
.authenticate-button:hover {
  background-color: var(--light-blue);
}

.main-navbar {
  background-color: var(--main-color);
}

i {
  color: var(--light-blue);
}

.nav-item {
  color: white;
}
.nav-item:hover {
  color: grey;
}
